<div class="header__container-btns">
  <a href="./index.html">
    <h1 class="main-header__logo">Adopt A Dog</h1>
  </a>
  <img id="menu-open" class="main-header__menu-open" src="../images/menu.svg" alt="Menu open" width="24" height="24">
  <img id="menu-close" class="main-header__menu-close" src="../images/close.svg" alt="Menu close" width="24"
    height="24">
</div>
<nav id="nav" class="main-header__nav">
  <a href="./available.html">Available Dogs</a>
  <a href="./adoptions.html">My Adoptions</a>
</nav>